# Environments
.venv/
.env
__pycache__/
*.pyc
*.py[cod]
.DS_Store

# Data artifacts
MSP_Podcast/
*.csv
*.xlsx
*.zip
*.tar.gz
*.wav

# Model checkpoints
checkpoints/
logs/

# Notebook noise
.ipynb_checkpoints/

# VS Code
.vscode/

.github/


